* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  user-select: none;
}
i {
  font-size: 40px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.game {
  width: 70%;
  height: 80vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap:20px;
}
.card {
  width:150px;
  height: 150px;
  background: linear-gradient(#414141, black);
  position: relative;
  border-radius: 50%;
}
.card:hover {
  cursor: pointer;
}
@media (max-width: 768px) {
  .card {
    width: 100px;
    height: 100px;
  }
  i {
    font-size: 30px;
  }
}
